input[type=date]::-webkit-datetime-edit {
    visibility: hidden;
}

input[type=date]::-webkit-datetime-edit {
    padding: 0px;
    font-size: 12px;
}

input[type=date]::-webkit-inner-spin-button {
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    margin-left: -15px;
}

.diskon-category {
    display: inline-block;
    padding-right: 15px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.lihat-diskon {
    float: right;
    margin-right: -15px;
    color: #9c27b0;
    font-size: 15px;
}

.lihat-diskon:hover {
    text-decoration: none;
}

li a {
    color: #4a4a4a;
    font-family: 'Noto Sans';
    font-weight: normal;
    font-style: normal;
}

ul>li>a {
    font-family: 'Noto Sans';
    font-weight: normal;
    font-style: normal;
}

ul>li>a:hover {
    text-decoration: none;
    color: #ab47bc;
}

ul>li>a:focus {
    text-decoration: none;
    border-bottom: 2px solid #ab47bc;
    padding-bottom: 2px;
}

ol,
ul {
    margin-top: -9px;
    margin-bottom: 10px;
}

li.kanan {
    float: right;
    margin-right: -15px;
    list-style: none;
}

div.item.active {
    max-height: 293px;
}

.wrap-list {
    border: 1px solid transparent;
    padding: 14px 27px;
    border-radius: 10px;
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    background-color: white;
}

input[type=number] {
    border-radius: 3px;
}

.sigmPeople {
    display: block;
}

.jumlah {
    width: 100px;
}

.jumlah-orang {
    margin-left: 8px;
    margin-top: 8px;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel-control.right,
.carousel-control.left {
    border-radius: 10px;
}

div.search-right {
    font-size: 15px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 7px;
}

label {
    color: #4a4a4a;
    font-weight: lighter;
}

.radio label {
    margin-right: 13px;
}

.radio {
    margin-top: -2px;
    margin-bottom: 0px;
}

.btn-cari {
    background-color: #ab47bc;
    width: 100%;
    border-radius: 3px;
    color: white;
    margin-top: 2px;
}

.text-diskon {
    font-size: 15px !important;
    font-weight: bold;
    text-align: left;
    color: #4a4a4a;
}

.thumb-promo {
    border-radius: 10px;
    border: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px #dddddd;
    margin-top: 8px;
    width: 100%;
    height: 100%;
}

.thumb-promo:hover {
    border-radius: 10px;
    border: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px #dddddd;
    margin-top: 8px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 5.9px 0.1px rgba(233, 30, 99, 0.6);
}

.img-thumb img {
    width: 100%;
    position: relative;
}

.img-promo {
    width: 100%;
    height: 155px;
}

.body-caption {
    text-align: left;
    padding: 10px;
    background-color: white;
}

.disc {
    position: absolute;
    width: 50px;
    background-color: #ab47bc;
    text-align: center;
    top: 0;
    left: 0;
    color: white;
    border-radius: 5px 0 5px 0;
}

.trip {
    color: white;
    position: absolute;
    margin: 0 auto;
    background-color: orange;
    top: 45%;
    left: 30%;
    width: 70px;
    text-align: center;
    border-radius: 25px;
}

.caption-price {
    color: #ab47bc;
    font-size: 13px;
}

.caption-tittle {
    font-size: 13px;
    text-align: left;
    margin-top: 10px;
    line-height: 1.15;
    color: #4a4a4a;
}

.caption-duration {
    font-size: 11px;
    text-align: left;
    line-height: 1.3;
    margin-top: 10px;
    color: #9e9e9e;
}

.travel-name {
    font-size: 11px;
    text-align: left;
    color: #9e9e9e;
}

@media (max-width: 425px) {
    .wrap-list {
        margin-top: 10px;
        border: 1px solid transparent;
        padding: 14px 27px;
        border-radius: 10px;
        box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
        box-sizing: border-box;
        background-color: white;
    }
    .input-group.sigm {
        margin-top: -33px;
        margin-bottom: 0px;
        margin-left: 71px;
    }
    .sigmPeople {
        display: inline-block;
    }
    .thumb-promo {
        border-radius: 10px;
        border: none;
        position: relative;
        display: inline-block;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 0px 0px 1px #dddddd;
        margin-top: 8px;
        width: 100%;
        height: 100%;
    }
    .img-thumb img {
        width: 100%;
        position: relative;
    }
    .img-promo {
        width: 100%;
        height: 155px;
    }
    .trip {
        color: white;
        position: absolute;
        margin: 0 auto;
        background-color: orange;
        top: 130px;
        left: 30%;
        width: 70px;
        text-align: center;
        border-radius: 25px;
    }
}

@media (min-width:768px) {
    .thumb-promo {
        border-radius: 10px;
        border: none;
        position: relative;
        display: inline-block;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 0px 0px 1px #dddddd;
        margin-top: 8px;
        width: 100%;
        height: 100%;
    }
    .img-thumb img {
        width: 100%;
        position: relative;
    }
    .img-promo {
        width: 100%;
        height: 155px;
    }
    .trip {
        color: white;
        position: absolute;
        margin: 0 auto;
        background-color: orange;
        top: 130px;
        left: 35%;
        width: 70px;
        text-align: center;
        border-radius: 25px;
    }
}

@media (max-width:1200px) {
    .radio label {
        margin-right: 13px;
        display: block;
    }
    .radio {
        margin-top: -2px;
        margin-bottom: 0px;
    }
}