[hidden] {
    display: none !important;
}

.wrap-fasilitas .col-md-3 {
    margin-bottom: 3px;
}

.wrap-tittle {
    position: relative;
}

.head-content {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    display: inline-block;
}

.state-all {
    position: absolute;
    bottom: 22px;
    right: 0px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    background-color: #f5f5f5;
    border-radius: 13.5px;
    width: 95px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.info-trip-term {
    width: 100%;
    letter-spacing: normal;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4a4a4a;
    margin-bottom: 15px;
}

.info-term {
    width: 100%;
    height: 41px;
    line-height: 41px;
    background-color: #eff9e9;
    border: solid 1px #dddddd;
    font-size: 11px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #569156;
    text-align: center;
}

.bold-term {
    font-weight: bold;
}

.label-form {
    display: block;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.nama-trip {
    width: 660px;
    height: 72px;
    border-radius: 3px;
    background-color: #fdfdfd;
    border: solid 1px #dddddd;
    resize: none;
}

.wrap-form-trip {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
}

.sort {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.kategori {
    display: block;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.kategori-tittle {
    width: 115px;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.kategori-tittle-lanjutan {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.wrap-category-item {
    width: 303px;
    height: 127px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    padding: 15px;
    display: inline;
    float: right;
}

.durasi {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.form-sort {
    width: 100%;
    height: 36px;
    border-radius: 3px;
    background-color: #fdfdfd;
    border: solid 1px #dddddd;
}

.form-kategori {
    display: inline-block;
    margin-left: 10px;
    width: 156px;
    height: 35px;
    border-radius: 3px;
    background-color: #fdfdfd;
    border: solid 1px #dddddd;
}

.form-durasi {
    right: 0px;
    width: 100%;
    height: 35px;
    border-radius: 3px;
    background-color: #fdfdfd;
    border: solid 1px #dddddd;
}

.img-paket {
    width: 100%;
    height: 165px;
    border-radius: 3px;
    background-color: #fdfdfd;
    border: solid 1px #dddddd;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.img-paket-core {
    width: 100%;
    height: 100%;
}

.img-add {
    width: 88px;
    height: 88px;
    border-radius: 5px;
    background-color: #ffffff;
    border: dashed 1px #ab47bc;
    text-align: center;
    line-height: 85px;
    cursor: pointer;
}

.add {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.tittle-img-core {
    width: 88px;
    font-size: 11px;
    margin-top: 7px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.img-paket-gallery {
    width: 536px;
    height: 100%;
    position: absolute;
    border-left: 1px solid #dddddd;
    top: 0px;
    left: 135px;
    padding: 20px 25px 0px 25px;
}

.tittle-img-gallery {
    font-size: 11px;
    margin-top: 7px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #9e9e9e;
}

.wrap-progress-bar {
    position: relative;
}

.img-quality {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #9e9e9e;
    position: absolute;
    top: -4px;
}

.quality-bar {
    width: 563px;
    height: 9px;
    border-radius: 3.5px;
    display: inline-block;
    margin-left: 100px;
}

.progress-bar {
    width: 75%;
    background-color: #00c853;
}

.wrap-option {
    position: relative;
    margin-bottom: 25px;
}

.radio label {
    margin-right: 13px;
}

.radio {
    margin-top: -2px;
    margin-bottom: 0px;
}

.wrap-label-fasilitas {
    position: relative;
    height: 80px;
}

.tittle-fasilitas {
    position: absolute;
    margin-left: 13px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #9e9e9e;
}

.wrap-fasilitas {
    width: 100%;
    height: 271px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    padding: 25px;
}

.label-fasilitas {
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.label-checkbox {
    position: absolute;
    width: 383px;
    bottom: 106px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: normal;
    color: #4a4a4a;
}

.head-category {
    padding: 0px;
}

.head-category li {
    display: inline;
    margin-right: 80px;
    position: relative;
    padding-left: 0px;
}

.checkbox-label-fasilitas {
    position: relative;
    bottom: 6px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.margin-fasilitas {
    margin-bottom: 15px;
}

.wrap-btn {
    margin: 20px auto;
    text-align: right;
}

.btn-content {
    width: 195px;
    height: 40px;
    border-radius: 3px;
    background-color: #ab47bc;
    border: 1px solid #dddddd;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.wrap-category-item .col-md-6 {
    margin-bottom: 5px;
}

.tittle-tanggal a {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ab47bc;
    line-height: 32px;
    margin-top: 25px;
    cursor: pointer;
    display: inline-block;
}

.tittle-tanggal a:hover {
    text-decoration: none;
}

.waktu-bertemu-input {
    text-align: center;
    width: 216px;
    height: 36px;
    border-radius: 3px;
}

.tanggal-trip {
    width: 216px;
}