<div *ngIf='content1'>
    <div class="wrap-tittle">
        <p class="head-content"> Jual Trip </p>
        <span class="state-all"> Tahap 1 dari 2</span>
    </div>

    <div class="info-trip-term"> Jual Trip Travel Anda disini. Masukkan informasi trip selengkap mungkin untuk meningkatkan kepercayaan traveller terhadap paket trip yang ditawarkan. Berikan fasilitas yang terbaik Travel Anda.</div>

    <div class="info-term" *ngIf='successedTrip'><span class="bold-term">Trip berhasil ditambahkan. </span> Silahkan cek pilihan "Daftar Trip" untuk melihat seluruh trip yang anda jual</div>

    <div class="wrap-img-trip">
        <label class="label-form" for="namaTrip">Gambar Trip</label>

        <div class="img-paket">
            <div class="img-paket-core">
                <label>
                            <div class="img-add">
                                <img src="../assets/img/add.png" class="add">
                                <input type="file" hidden>
                            </div>
                        </label>

                <p class="tittle-img-core">Gambar utama Paket wisata</p>
            </div>

            <div class="img-paket-gallery">
                <div class="row">
                    <div class="col-md-3">
                        <label>
                                    <div class="img-add">
                                        <img src="../assets/img/add.png" class="add">
                                        <input type="file" hidden>
                                    </div>
                                </label>
                    </div>

                    <div class="col-md-3">
                        <label>
                                    <div class="img-add">
                                        <img src="../assets/img/add.png" class="add">
                                        <input type="file" hidden>
                                    </div>
                                </label>
                    </div>

                    <div class="col-md-3">
                        <label>
                                    <div class="img-add">
                                        <img src="../assets/img/add.png" class="add">
                                        <input type="file" hidden>
                                    </div>
                                </label>
                    </div>

                    <div class="col-md-3">
                        <label>
                                    <div class="img-add">
                                        <img src="../assets/img/add.png" class="add">
                                        <input type="file" hidden>
                                    </div>
                                </label>
                    </div>
                </div>

                <p class="tittle-img-gallery">Tentukan gambar lainnya untuk memperkuat daya tarik traveller. Pilih gambar dengan kualtas terbaik (format .JPG .JPEG .PNG maksimal 10 MB)</p>
            </div>
        </div>
    </div>

    <div class="wrap-progress-bar">
        <span class="img-quality">Kualitas Gambar
                  </span>
        <div class="progress quality-bar">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>


    <div class="wrap-form-trip">
        <label class="label-form" for="namaTrip">Nama Trip</label>
        <div class="input-group">
            <textarea class="form-control nama-trip" id="namaTrip" placeholder="Contoh : Pulau Harapan Kepulauan Seribu"></textarea>
        </div>
    </div>

    <div class="wrap-option">
        <div class="row">
            <div class="col-md-4">
                <label class="label-form">Jenis Trip</label>
                <div class="radio">
                    <label class="radio"><input type="radio" name="radios"><span class="outer"><span class="inner"></span></span>Open</label>
                    <label class="radio"><input type="radio" name="radios"><span class="outer"><span class="inner"></span></span>Private</label>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <label class="label-form">Tanggal Berangkat</label>
                        <div class="tanggal-trip input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-calendar"></span></button>
                            </div>
                            <input type="date" class=" form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tittle-tanggal"> <a href="">Tambah Tanggal Berangkat </a></div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4">
                <label class="durasi">Durasi Trip </label>
                <select class="form-control form-durasi">
                                <option>1 Hari</option>
                                <option>2 Hari</option>
                                <option>3 Hari</option>
                                <option>4 Hari</option>
                                <option>5 Hari</option>	
                              </select>
            </div>

            <div class="col-md-8">
                <label class="kategori">Kategori Trip </label>
                <span class="kategori-tittle">Kategori Utama :</span>
                <select class="form-control form-kategori">
                                <option>Pilih Kategori</option>
                                <option id="Beach" >Beach</option>
                                <option id="City Tour" >City Tour</option>
                                <option id="Culture">Culture</option>
                                <option id="Fishing">Fishing</option>
                                <option id="Hiking">Hiking</option>
                                <option id="Honeymoon">Honeymoon</option>
                                <option id="Tracking">Tracking</option>
                                <option id="Sailing">Sailing</option>
                            </select>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4">
                <label class="sort" for="lokasi"> Lokasi (Provinsi) </label>
                <select class="form-control form-sort">
                                                        <option >Pilih Provinsi</option>
                                                        <option >Nanggroe Aceh Darussalam </option>
                                                        <option >Sumatra Utara</option>
                                                        <option >Sumatra Selatan </option>
                                                        <option >Sumatra Barat</option>
                                                        <option >Bengkulu</option>
                                                        <option >Riau</option>
                                                        <option >Kepulauan Riau</option>
                                                        <option >Jambi</option>
                                                        <option >Lampung</option>
                                                        <option >Bangka Belitung</option>
                                                        <option >Kalimantan Barat</option>
                                                        <option >Kalimantan Timur</option>
                                                        <option >Kalimantan Selatan</option>
                                                        <option >Kalimantan Tengah</option>
                                                        <option >Kalimantan Utara</option>
                                                        <option >Banten </option>
                                                        <option >DKI Jakarta  </option>
                                                        <option >Jawa Barat </option>
                                                        <option >Jawa Tengah </option>
                                                        <option >DI Yogyakarta </option>
                                                        <option >Jawa Timur </option>
                                                        <option >Bali </option>
                                                        <option >Nusa Tenggara Timur </option>
                                                        <option >Nusa Tenggara Barat </option>
                                                        <option >Gorontalo </option>
                                                        <option >Sulawesi Barat </option>
                                                        <option >Sulawesi Tengah </option>
                                                        <option >Sulawesi Utara </option>
                                                        <option >Sulawesi Tenggara </option>
                                                        <option >Sulawesi Selatan </option>
                                                        <option >Maluku Utara </option>
                                                        <option >Maluku </option>
                                                        <option >Papua Barat </option>
                                                        <option >Papua  </option>
                                                    </select>
            </div>

            <div class="col-md-8">
                <div class="kategori-tittle">
                    <span class="kategori-tittle-lanjutan">Kategori Lainnya : (Pilih Dua)</span>
                </div>
                <div class="wrap-category-item">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox" class="checkbox">
                            <span class="checkbox-label-fasilitas">Beach</span>
                        </div>

                        <div class="col-md-6">
                            <input type="checkbox" class="checkbox">
                            <span class="checkbox-label-fasilitas">Hiking</span>
                        </div>

                        <div class="col-md-6">
                            <input type="checkbox" class="checkbox">
                            <span class="checkbox-label-fasilitas">City Tour</span>
                        </div>

                        <div class="col-md-6">
                            <input type="checkbox" class="checkbox">
                            <span class="checkbox-label-fasilitas">Honeymoon</span>
                        </div>

                        <div class="col-md-6">
                            <input type="checkbox" class="checkbox">
                            <span class="checkbox-label-fasilitas">Culture</span>
                        </div>

                        <div class="col-md-6">
                            <input type="checkbox" class="checkbox">
                            <span class="checkbox-label-fasilitas">Tracking</span>
                        </div>

                        <div class="col-md-6">
                            <input type="checkbox" class="checkbox">
                            <span class="checkbox-label-fasilitas">Fishing</span>
                        </div>

                        <div class="col-md-6">
                            <input type="checkbox" class="checkbox">
                            <span class="checkbox-label-fasilitas">Sailing</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-label-fasilitas">
        <label class="label-form">Fasilitas Trip </label>
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="tittle-fasilitas">Pilih fasilitas apa saja yang termasuk dalam paket wisata yang akan anda jual. Jika tidak ada pada pilihan, anda dapat menulisakn pada kolom deskripsi di halaman berikutnya.</span>
    </div>

    <div class="wrap-fasilitas">
        <label class="label-fasilitas">Penginapan</label>
        <div class="row">
            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Homestay</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Villa</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Hotel</span>
            </div>
        </div>

        <div class="margin-fasilitas"></div>
        <label class="label-fasilitas">Transportasi</label>
        <div class="row">
            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Kapal</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Speedboat</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Minibus</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Bus</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Mobil Elf</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Flight</span>
            </div>
        </div>

        <div class="margin-fasilitas"></div>
        <div class="row">
            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Makan</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Snack</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Barbeque</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Souvenir</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Welcome Drink</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Guide</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">P3K / Obat-obatan</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Life Jacket</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Karaoke</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Dokumentasi</span>
            </div>

            <div class="col-md-3">
                <input type="checkbox" class="checkbox">
                <span class="checkbox-label-fasilitas">Tiket Objek Wisata</span>
            </div>
        </div>
    </div>

    <div class="wrap-btn">
        <button (click)="toggleJual()" class="btn-content"> Selanjutnya</button>
    </div>
</div>

<div *ngIf='content2'>
    <app-jual-trip-content2></app-jual-trip-content2>
</div>