.my-akun {
    font-size: 20px;
    font-weight: bold;
    margin-left: 27px;
    margin-top: -9px;
    margin-bottom: 20px;
    text-align: left;
    color: #4a4a4a;
    display: inline-block;
}

.root-akun {
    font-size: 15px;
    margin-left: 125px;
    color: #9e9e9e;
}

.show {
    display: none !important;
}

.btn-toggle {
    display: none;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 0;
    line-height: 45px;
}

#sidebar .sidebar-nav li a {
    display: block;
    text-decoration: none;
}

.sidebar-nav li a {
    color: #4a4a4a;
}

.sidebar-nav li a:focus {
    background-color: #f7f7f7;
    color: #ab47bc;
    width: 85%;
}

#sidebar .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 15px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 15px;
    margin-right: 10px;
    float: left;
}

#sidebar .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding: 0;
}

#sidebar .sidebar-nav li ul.panel-collapse li i {
    margin-right: 10px;
}

#sidebar .sidebar-nav li ul.panel-collapse li {
    text-indent: 15px;
}

.content {
    width: 100%;
}

@media (min-width:450px) and (max-width: 992px) {
    .btn-toggle {
        display: none;
    }
    .wrapper #sidebar {
        width: 76px;
        margin-left: 0px;
    }
    #sidebar {
        min-width: 82px;
        max-width: 82px;
        background: #fbfbfb;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    .sidebar-nav li a span:nth-child(2) {
        display: none;
    }
    #sidebar .sidebar-nav li a .sidebar-icon {
        width: 45px;
        float: none;
        height: 45px;
        font-size: 15px;
        padding: 0 2px;
        display: inline-block;
        text-indent: 15px;
        margin-right: 10px;
    }
}

@media (max-width:450px) {
    .btn-toggle {
        display: flex;
        position: relative;
        left: -3px;
        top: -11px;
        z-index: 9999;
    }
    .root-akun {
        font-size: 15px;
        margin-left: 15px;
        color: #9e9e9e;
    }
}