<div class="footer">
    <div class="col-md-2">
        <img alt="Brand" src="../assets/img/logo.png" class="footer-brand-logo">
    </div>

    <div class="col-md-2">
        <p class="cr-head">Travinesia</p>
        <p class="cr-tittle">Tentang Travinesia</p>
        <p class="cr-tittle">Hubungi Kami</p>
        <p class="cr-tittle">Syarat dan Ketentuan</p>
        <p class="cr-tittle">Karir</p>
    </div>

    <div class="col-md-2">
        <p class="cr-head">Informasi</p>
        <p class="cr-tittle">Jadi Travel di Travinesia</p>
        <p class="cr-tittle">Pesan Paket Wisata</p>
        <p class="cr-tittle">Promo</p>
        <p class="cr-tittle">Dikon</p>
    </div>

    <div class="col-md-2">
        <p class="cr-head">Kontak</p>
        <p class="cr-tittle"><span class="glyphicon glyphicon-earphone"></span> (+62) 897 1234 4321</p>
        <p class="cr-tittle"><span class="glyphicon glyphicon-envelope"></span> ask@travinesia.com</p>
        <p class="cr-tittle">Dramaga Cantik Residence Blok K51 Bogor, Jawa Barat Indonesia </p>
    </div>

    <div class="col-md-2">
        <p class="cr-head">Ikuti Kami</p>
        <p class="cr-tittle">Logo</p>
        <p class="cr-tittle">Logo</p>
        <p class="cr-tittle">Logo</p>
    </div>

    <div class="col-md-2">
        <p class="cr-head">Download App</p>
        <p class="cr-tittle">Logo</p>
    </div>
</div>

<div class="footer-black">
    <p class="cr-black">Copyright &copy; 2017 Travinesia</p>
</div>