<div class="container-fluid-bar">
    <ul class="head-category">
        <li>
            <a href="#"> <span class="icon-island-with-palm-trees"></span> Beach</a>
        </li>
        <li>
            <a href="#"> <span class="icon-hotel-with-three-floors"></span> City Tour</a>
        </li>
        <li>
            <a href="#"> <span class="icon-theatre-masks"></span> Culture</a>
        </li>
        <li>
            <a href="#"> <span class="icon-fishing-sign"></span> Fishing</a>
        </li>
        <li>
            <a href="#"> <span class="icon-mountains-with-trees"></span> Hiking</a>
        </li>
        <li>
            <a href="#"> <span class="icon-love-hot-air-balloon"></span> Honeymoon</a>
        </li>
        <li><a href="#"><span class="icon-human-foot-prints"></span> Tracking</a> </li>
        <li>
            <a href="#"> <span class="icon-sea-ship-with-containers"></span> Sailing</a>
        </li>
        <li class="kanan">
            <a href=""> <span class="icon-question">
              <span class="path1"></span><span class="path2"></span>
                </span>
                Bantuan
            </a>
        </li>
    </ul>
    <hr class="line-category">
</div>

<div class="wrapper-lupa-sandi text-center">
    <h2 class="head-kata-sandi">Lupa Kata Sandi ?</h2>
    <p class="content-kata-sandi">Masukan email login Anda, Travinesia akan mengirimkan pesan email beserta tautan untuk reset kata sandi Anda. Kemudian ikuti langkah selanjutnya</p>
    <input type="text" placeholder="Email Anda" class="input-kata-sandi">
    <a class="btn btn-kata-sandi">Ubah Kata Sandi</a>
</div>