<div class="wrap-tittle">
    <p class="head-tittle">Saldo</p>
</div>

<p class="current-saldo">Saldo Anda saat ini</p>

<div class="wrap-saldo">
    <span class="rupiah">Rp</span> <span class="saldo-price">137.100.000</span>
</div>

<div class="wrap-search">
    <a data-toggle="modal" data-target="#ModalPencarian" class="petunjuk-pencarian">Lihat Petunjuk Pencairan </a>
    <button class="btn-trv-ajukan" data-toggle="modal" data-target="#myModal"> Ajukan Pencairan </button>
</div>

<div class="modal fade" id="ModalPencarian" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="wrap-modal-pencarian">
            <img src="../assets/img/Award.png" class="img-modal-pencarian">
            <p class="tittle-modal-pencarian">Travinesia, beberapa saat lagi akan menghubungi nomor yang tertera pada profil agen travel Anda. Silahkan pergi ke tab pilihan <span class="bold">“pencairan” </span> untuk memantau status proses penarikan.</p>
            <button data-dismiss="modal" class="btn-trv-ok">Ok</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="wrap-modal-content">
            <div class="wrap-modal-header">
                Ajukan Pencairan
            </div>
            <div class="wrap-modal-body">
                <div class="tittle-label-modal">Nomor Rekening :</div>
                <input class="form-control margin-tittle-label">

                <div class="tittle-label-modal">Atas Nama :</div>
                <input class="form-control margin-tittle-ikon">

                <span class="glyphicon glyphicon-info-sign"></span>
                <div class="tittle-sign">Pengajuan pencairan dapat dilakukan pada pukul 08.00 - 14.00 WIB</div>

                <div class="wrap-btn">
                    <span data-dismiss="modal" class="batal">Batal</span>
                    <button class="btn-trv-kirim">Kirim</button>
                </div>
            </div>
        </div>

    </div>
</div>

<p class="detail-saldo">Detail Saldo</p>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>Waktu</th>
            <th>Mutasi <span class="glyphicon glyphicon-info-sign "></span></th>
            <th>Saldo</th>
            <th>Keterangan</th>
        </thead>
        <tbody>
            <tr>
                <td>Minggu, 30 Januari 2019</td>
                <td>+ Rp.3.000.000</td>
                <td>Rp.137.100.000</td>
                <td>Pulau Harapan Kepulauan Seribu ( No. Pemesanan : 000xbvcw122018 )</td>
            </tr>

            <tr>
                <td>Minggu, 30 Januari 2019</td>
                <td>+ Rp.3.000.000</td>
                <td>Rp.137.100.000</td>
                <td>Pulau Harapan Kepulauan Seribu ( No. Pemesanan : 000xbvcw122018 )</td>
            </tr>

            <tr>
                <td>Minggu, 30 Januari 2019</td>
                <td>+ Rp.3.000.000</td>
                <td>Rp.137.100.000</td>
                <td>Pulau Harapan Kepulauan Seribu ( No. Pemesanan : 000xbvcw122018 )</td>
            </tr>

            <tr>
                <td>Minggu, 30 Januari 2019</td>
                <td>+ Rp.3.000.000</td>
                <td>Rp.137.100.000</td>
                <td>Pulau Harapan Kepulauan Seribu ( No. Pemesanan : 000xbvcw122018 )</td>
            </tr>
        </tbody>
    </table>
</div>