<div class="wrap-tittle">
    <p class="head-tittle">Saldo</p>
</div>

<p class="current-saldo">Saldo Anda saat ini</p>

<div class="wrap-saldo">
    <span class="rupiah">Rp</span> <span class="saldo-price">137.100.000</span>
</div>

<div class="wrap-search">
    <a href="" class="petunjuk-pencarian">Lihat Petunjuk Pencarian </a>
    <button class="btn-trv-ajukan"> Ajukan Pencarian </button>
</div>

<p class="detail-saldo">Detail Saldo</p>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>Waktu</th>
            <th>Mutasi <span class="glyphicon glyphicon-info-sign "></span></th>
            <th>Saldo</th>
            <th>Keterangan</th>
        </thead>
        <tbody>
            <tr>
                <td>Minggu, 30 Januari 2019</td>
                <td>+ Rp.3.000.000</td>
                <td>Rp.137.100.000</td>
                <td>Pulau Harapan Kepulauan Seribu ( No. Pemesanan : 000xbvcw122018 )</td>
            </tr>

            <tr>
                <td>Minggu, 30 Januari 2019</td>
                <td>+ Rp.3.000.000</td>
                <td>Rp.137.100.000</td>
                <td>Pulau Harapan Kepulauan Seribu ( No. Pemesanan : 000xbvcw122018 )</td>
            </tr>

            <tr>
                <td>Minggu, 30 Januari 2019</td>
                <td>+ Rp.3.000.000</td>
                <td>Rp.137.100.000</td>
                <td>Pulau Harapan Kepulauan Seribu ( No. Pemesanan : 000xbvcw122018 )</td>
            </tr>

            <tr>
                <td>Minggu, 30 Januari 2019</td>
                <td>+ Rp.3.000.000</td>
                <td>Rp.137.100.000</td>
                <td>Pulau Harapan Kepulauan Seribu ( No. Pemesanan : 000xbvcw122018 )</td>
            </tr>
        </tbody>
    </table>
</div>