<div class="container-fluid-page">
  <div class="row">
    <div class="col-md-8 ">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
              <img src="../assets/img/edit2.jpg" class="img-slider" alt="pulau">
          </div>

          <div class="item">
              <img src="../assets/img/edit2.jpg" class="img-slider" alt="pulau">
          </div>

          <div class="item">
              <img src="../assets/img/edit2.jpg" class="img-slider" alt="pulau">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="jenis-paket">
        <span class="glyphicon glyphicon-tag"></span>
        <span class="jenis-trip">Open Trip</span>
        <span class="waktu-trip">(2 Hari 1 Malam)</span>
        <div class="share pull-right">
          <span class="bagikan">Bagikan: </span>
          <div class="img-share">
            <img src="assets/img/foto.png" class="img-share">
            <img src="assets/img/foto.png" class="img-share">
            <img src="assets/img/foto.png" class="img-share">
            <img src="assets/img/foto.png" class="img-share">
            <img src="assets/img/foto.png" class="img-share">
          </div> 
        </div>
      </div>
      <div class="nama-paket">
        <div class="judul-paket">Pulau Harapan Kep. Seribu</div>
        <div class="alamat-paket">
          <span>Kecamatan Kepulauan Seribu Utara, Kabupaten Kepulauan Seribu,</span>
          <p>Jakarta, Indonesia</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
          </div>
        </div>
      </div>

      <div class="penjelasan">
        <div class="kanan-deskripsi">
          <span class="kanan">Deskripsi</span>
          <a data-toggle="collapse" href="#deskripsi" ><span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
          <div id="deskripsi" class="collapse">
            deskripsi ini adalah
          </div>
        </div>
        <div class="kanan-fasilitas">
          <span class="kanan">Fasilitas</span>
          <a data-toggle="collapse" href="#fasilitas"><span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
          <div id="fasilitas" class="collapse">
            fasilitas yang disediakan.......
          </div>
        </div>
        <div class="kanan-meeting">
          <span class="kanan">Meeting Point</span>
          <a data-toggle="collapse" href="#meetingpoint"><span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
          <div id="meetingpoint" class="collapse">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <span> fasilitas yang disediakan....... </span>
          </div>
        </div>
        <div class="kanan-catatan">
          <span class="kanan">Catatan untuk Travel</span>
          <a data-toggle="collapse" href="#catatan"><span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
          <div id="catatan" class="collapse">
            fasilitas yang disediakan.......
          </div>
        </div>
      </div> 
      <div class="informasi-agen">
        <div class="title-info">
          <p class="info">Informasi Travel Agen  </p>
        </div>
        <div class="body-info">
          <img class="img-agen" src="assets/img/foto.png">
            <div class="nama">
              <span class="nama-agen">Kuylah Travel</span>
              <p class="alamat-agen">Bogor, Jawa Barat </p>
              <p class="kelas-agen"> Travel Kelas Satu</p>
            </div>
        </div>
        <div class="button-body pull-right">
          <div>
            <button class="btn btn-lihatProfil">Lihat Profil</button>
          </div>
          <div>
            <button class="btn btn-kirimPesan">Kirim Pesan</button>
          </div>
        </div>
      </div>
      <div class="card">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#status-pembayaran" aria-controls="home" role="tab" data-toggle="tab">Ulasan</a></li>
            <li role="presentation"><a href="#daftar-transaksi" aria-controls="settings" role="tab" data-toggle="tab">Diskusi</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="status-pembayaran">
              <div class="komen">
                <img src="assets/img/foto.png" class="komen-image">
                <div class="komen-user">
                  <p class="komen-user-name">Paulo Torres</p>
                  <p class="komen-tanggal">15 Februari 2018, 11.17 WIB</p>
                  <div class="komen-star">
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                  </div> 
                  <p class="komen-tanggapan">"kualitas terbaik dan sangat sesuai dengan ekspetasi"</p>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="daftar-transaksi">
              <div class="komen">
                <img src="assets/img/foto.png" class="komen-image">
                <div class="komen-user">
                  <p class="komen-user-name">Paulo Torres</p>
                  <p class="komen-tanggal">15 Februari 2018, 11.17 WIB</p>
                  <div class="komen-star">
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                  </div> 
                  <p class="komen-tanggapan">"kualitas terbaik dan sangat sesuai dengan ekspetasi"</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="harga-tanggal">
        <div class="harga">
          <span class="harga-diskon"> Rp 290.000 </span> 
          <span class="orang"> / Orang </span>
          <p class="harga-normal"> Rp 300.000/orang <span class="diskon"> Diskon 10%</span> </p>
        </div>
      </div>
      <div class="table">
        <table>
          <tr>
            <td>Dilihat : <span class="nominal-table">20</span></td>
            <td>Terjual : <span class="nominal-table">20</span></td>
            <td>Difavoritkan : <span class="nominal-table">20</span></td>
          </tr>
        </table>
      </div>
      <div class="pilih-tanggal">
        <p>Silahkan Pilih Tanggal Trip</p>
      </div>
      <div class="calendar">
        <app-calendar></app-calendar>
      </div>
      <button type="submit" class="btn btn-pesan"> Pesan Sekarang </button>
    </div>
  </div>
  
</div>
<app-footer></app-footer>

