<!-- Nav tabs -->
<div class="card">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#status-pembayaran" aria-controls="home" role="tab" data-toggle="tab">Status Pembayaran</a></li>
        <li role="presentation"><a href="#daftar-transaksi" aria-controls="settings" role="tab" data-toggle="tab">Daftar Transaksi</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="status-pembayaran">Belum ada Transaksi</div>
        <div role="tabpanel" class="tab-pane" id="daftar-transaksi">Belum ada Transaksi</div>
    </div>
</div>