/* content */

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
}

.nav-tabs {
    border-bottom: 0px solid #ddd;
}

.nav-tabs>li>a {
    border: none;
    color: #666;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: none;
    color: #ab47bc !important;
    background: transparent;
}

.nav-tabs>li>a::after {
    content: "";
    background: #ab47bc;
    height: 2px;
    position: absolute;
    width: 91%;
    left: 9px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.tab-nav>li>a::after {
    background: #ab47bc none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 0px 41px 0px 440px;
    width: 1003px;
    height: 384px;
    border-radius: 3px;
    border: solid 1px #e0e0e0;
    line-height: 384px;
    font-weight: bold;
}

.card {
    background: transparent;
    margin-left: 57px;
    width: 1003px;
}


/* end content */