.navbar-profil {
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;
    /* padding-bottom: 10px;
    padding-top: 10px; */
}

.brand-logo {
    width: 140px;
    margin-top: -7px;
}

.icon-bar {
    background-color: grey;
}

li>a {
    color: #4c4c4c;
    font-family: 'Noto Sans';
    font-weight: normal;
    font-style: normal;
}

li>a:hover {
    color: #ab47bc;
    text-decoration: none;
}

li>a:focus {
    color: #ab47bc;
    text-decoration: none;
}

.glyphicon-chevron-down {
    margin-left: 7px;
}

ul>li>a:focus .glyphicon-chevron-down {
    transform: rotate(90deg);
}

.btn-trv {
    position: relative;
    top: 8px;
    border-radius: 3px;
    color: #ab47bc;
    border: solid 1px #ab47bc;
    background-color: transparent;
    margin-left: 15px;
    margin-right: 15px;
}

.notif {
    position: absolute;
    top: 13px;
    right: 21px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ab47bc;
}

.foto-profil {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 10px;
}

.profil {
    margin-right: 20px;
}

ul.head-category li {
    display: inline;
    margin-right: 33px;
    position: relative;
    padding-left: 0px;
}

.line-category {
    border-bottom: 1px solid #dddddd;
    width: 101.5%;
    position: relative;
    bottom: 18px;
}

li.kanan {
    float: right;
    margin-right: -15px;
    list-style: none;
}

.margin-content {
    margin-top: 150px;
}

@media (max-width:425px) {
    .stylish-input-group {
        width: 313px;
    }
    .notif {
        position: absolute;
        top: 8px;
        left: 98px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #ab47bc;
    }
    .foto-profil {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        left: 12px;
    }
    .btn-trv {
        position: relative;
        top: -4px;
        border-radius: 3px;
        color: #ab47bc;
        border: solid 1px #ab47bc;
        background-color: transparent;
        margin-left: 15px;
        margin-right: -8px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}