<div class="container-etalase">
    <div class="wrapper-content">
        <div class="wrap-img">
            <img src="../assets/img/edit2.jpg" class="img-background">
            <button class="btn-chat-trv">Chat Travel</button>
        </div>

        <div class="wrap-img-logo">
            <img class="img-logo" src="../assets/img/kuylah.png">
        </div>

        <div class="wrap-info">
            <div class="wrap-tittle">
                <div class="tittle-head">Kuylah Travel Indonesia </div> <span class="glyphicon glyphicon-education"></span>
                <div class="slogan-head">Mencari dan Memberi yang Terbaik </div>

                <div class="number-success-trip"> 89 </div>
                <div class="success-trip"> Trip Berhasil </div>

                <div class="badge-travel">
                    <span class="glyphicon glyphicon-bookmark"></span>
                    <span class="glyphicon glyphicon-bookmark"></span>
                    <span class="glyphicon glyphicon-bookmark"></span>
                    <span class="glyphicon glyphicon-bookmark"></span>
                    <span class="glyphicon glyphicon-bookmark"></span>
                </div>
                <div class="level-travel"> Travel Kelas Satu </div>
            </div>
            <p class="info-travel"> <span class="glyphicon glyphicon-home"> </span> Dramaga Cantik Residence Blok K51, Dramaga, Kabupaten Bogor Jawa Barat, Indonesia </p>
            <p class="info-travel"> <span class="glyphicon glyphicon-time"> </span> Bergabung Sejak 30 Desember 2012 </p>
            <p class="share">Bagikan :</p>
        </div>

        <div class="wrap-info-penawaran">
            <div class="paket-penawaran">Paket Trip yang Ditawarkan</div>
            <div class="sort"> Urutkan :
                <select class="form-control form-sort">
                        <option >Paling Sesuai</option>
                        <option >Terbaru</option>
                        <option >Termurah</option>
                        <option >Termahal</option>
                        <option >Terlaris</option>
                     </select>
            </div>

            <div class="category"> Kategori :
                <select class="form-control form-sort">
                        <option >Beach</option>
                        <option >City Tour</option>
                        <option >Culture</option>
                        <option >Fishing</option>
                        <option >Hiking</option>
                        <option >Honeymoon</option>
                        <option >Tracking</option>
                        <option >Sailing</option>
                     </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="thumb-promo">
                    <img src="../assets/img/1.jpg" class="img-promo">
                    <div class="disc">-10%</div>
                    <div class="trip">Open</div>
                    <div class="body-caption">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 ">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="caption-price">Rp 300.000</div>
                            </div>
                        </div>
                        <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                        <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                        <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="thumb-promo">
                    <img src="../assets/img/1.jpg" class="img-promo">
                    <div class="disc">-10%</div>
                    <div class="trip">Open</div>
                    <div class="body-caption">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="caption-price">Rp 300.000</div>
                            </div>
                        </div>
                        <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                        <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                        <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="thumb-promo">
                    <img src="../assets/img/1.jpg" class="img-promo">
                    <div class="disc">-10%</div>
                    <div class="trip">Open</div>
                    <div class="body-caption">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="caption-price">Rp 300.000</div>
                            </div>
                        </div>
                        <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                        <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                        <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="thumb-promo">
                    <img src="../assets/img/1.jpg" class="img-promo">
                    <div class="disc">-10%</div>
                    <div class="trip">Open</div>
                    <div class="body-caption">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="caption-price">Rp 300.000</div>
                            </div>
                        </div>
                        <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                        <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                        <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 ">
                <div class="thumb-promo">
                    <img src="../assets/img/1.jpg" class="img-promo">
                    <div class="disc">-10%</div>
                    <div class="trip">Open</div>
                    <div class="body-caption">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="caption-price">Rp 300.000</div>
                            </div>
                        </div>
                        <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                        <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                        <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="thumb-promo">
                    <img src="../assets/img/1.jpg" class="img-promo">
                    <div class="disc">-10%</div>
                    <div class="trip">Open</div>
                    <div class="body-caption">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="caption-price">Rp 300.000</div>
                            </div>
                        </div>
                        <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                        <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                        <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>