.wrapper-content {
    margin-top: -35px;
}

.wrap-img {
    position: relative;
}

.img-background {
    width: 1138px;
    height: 299px;
}

.wrap-img-logo {
    position: absolute;
    z-index: 9;
    top: 362px;
    left: 140px;
}

.img-logo {
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24), 0px 1px 5.9px 0.1px rgba(66, 66, 66, 0.5);
}

.btn-chat-trv {
    position: absolute;
    right: 40px;
    bottom: 20px;
    width: 122px;
    height: 31px;
    border-radius: 2.4px;
    background-color: #ffffff;
    border: solid 1px #b7b7b7;
    font-size: 12.8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ab47bc;
}

.wrap-info {
    width: 1138px;
    height: 147px;
    border-bottom: solid 1px #dddddd;
    border: solid .5px #dddddd;
}

.wrap-tittle {
    position: relative;
    width: 1136px;
    height: 85px;
    padding-left: 210px;
    padding-top: 10px;
    background-color: #f5f5f5;
}

.tittle-head {
    display: inline-block;
    font-size: 24.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #263238;
}

.slogan-head {
    font-size: 12.8px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    letter-spacing: normal;
    color: #9e9e9e;
}

.number-success-trip {
    position: absolute;
    right: 170px;
    top: 10px;
    font-size: 19.7px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.success-trip {
    position: absolute;
    top: 45px;
    right: 150px;
    font-size: 10.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.badge-travel {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 19.7px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.level-travel {
    position: absolute;
    top: 45px;
    right: 35px;
    font-size: 10.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.info-travel {
    padding-left: 210px;
    margin-top: 9px;
    margin-bottom: -4px;
    font-size: 10.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.share {
    position: absolute;
    right: 280px;
    top: 506px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.wrap-info-penawaran {
    position: relative;
    height: 60px;
    width: 1138px;
    border-bottom: 1px solid #dddddd;
    padding-top: 18px;
    margin-bottom: 15px;
}

.paket-penawaran {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.sort {
    display: inline-block;
    position: absolute;
    right: 0px;
    font-size: 13.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}

.form-sort {
    width: 183px;
    height: 26px;
    border-radius: 2.4px;
    display: inline-block;
    font-size: 11px;
    padding: 0px;
}

.category {
    display: inline-block;
    position: absolute;
    right: 345px;
    font-size: 13.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}

.thumb-promo {
    border-radius: 10px;
    border: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px #dddddd;
    margin-top: 8px;
    width: 100%;
    height: 100%;
}

.thumb-promo:hover {
    border-radius: 10px;
    border: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px #dddddd;
    margin-top: 8px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 5.9px 0.1px rgba(233, 30, 99, 0.6);
}

.img-thumb img {
    width: 100%;
    position: relative;
}

.img-promo {
    width: 100%;
    height: 155px;
}

.body-caption {
    text-align: left;
    padding: 10px;
    background-color: white;
}

.disc {
    position: absolute;
    width: 50px;
    background-color: #ab47bc;
    text-align: center;
    top: 0;
    left: 0;
    color: white;
    border-radius: 5px 0 5px 0;
}

.trip {
    color: white;
    position: absolute;
    margin: 0 auto;
    background-color: orange;
    top: 45%;
    left: 30%;
    width: 70px;
    text-align: center;
    border-radius: 25px;
}

.caption-price {
    color: #ab47bc;
    font-size: 11px;
}

.caption-tittle {
    font-size: 13px;
    text-align: left;
    margin-top: 10px;
    line-height: 1.15;
    color: #4a4a4a;
}

.caption-duration {
    font-size: 11px;
    text-align: left;
    line-height: 1.3;
    margin-top: 10px;
    color: #9e9e9e;
}

.travel-name {
    font-size: 11px;
    text-align: left;
    color: #9e9e9e;
}