.container{
    width: 959px;
}

.tahapan-proses{
    display: inline-flex;
    margin-left: 15px;
    margin-bottom: 30px;
}
.no-proses1{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    padding-left: 6px;
    margin-top: 8px;
    margin-right: 20px;
    margin-left: 290px;
    
}

.no-proses1 p{
    line-height: 24px;
    font-size: 20px;
    font-family: sans-serif;
    color: #f5f5f5;
}

.no-proses2{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    padding-left: 6.5px;
    margin-top: 8px;
}

.no-proses2 p{
    line-height: 24px;
    font-size: 20px;
    font-family: sans-serif;
    color: #9c27b0;
}
.tahapan-proses1{
    width: 449px;
    height: 68px;
    background-color: #f5f5f5;
    padding-top: 15px;
    padding-right: 30px;
    border-top-left-radius: 10px;

}

.proses1{
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    margin-top: -32px;
    margin-left: 50px;
}

.tahapan-proses2{
    width: 449px;
    height: 68px;
    background-color: #9c27b0;
    padding-top: 15px;
    padding-left: 30px;
    border-top-right-radius: 10px;
}

.proses2{
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    margin-top: -32px;
    margin-left: 40px;
}

.batas{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 0;
    
}

.perintah{
    font-family: sans-serif;
    font-size: 15px;
    color: #4a4a4a;
}

.waktu{
    font-size: 50px;
    font-family: sans-serif;
    color: #4a4a4a;
    margin-top: 35px;
}

.panel-transfer{
    width: 577px;
    margin: auto;

}

.panel-heading p{
    display: inline;
}

.transfer{
    margin-bottom: 2px;
    margin-top: 60px;
}
.panel-heading{
    font-family: sans-serif;
    font-size: 15px;
    color: #4e4e4e;
}
.no-resi{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #9c27b0;
}

.pesan{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #4a4a4a;
}

.salin{
    color:#9c27b0;
}

.panel-footer{
    background-color: white;
    display: flex;
    align-items: center;
}
.panel-footer img{
    width: 109px;
    height: 35px;
    display: block;
    margin: auto;
}

.total{
    width: 577px;
    height: 56px;
    border-radius: 3px;
    border: solid 1px #dddddd;
    padding: 19px 32px 0 32px;
    background-color: white;
}

.total p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #4a4a4a;
}

.titik-dua{
    position: relative;
    left: 50px;
}

.nominal{
    font-size: 25px;
    margin-top: -7px;
}

.code{
    color: #e91e63;
}

.btn-bayar{
    width: 577px;
    height: 46px;
    border-radius: 2.4px;
    background-color: #e91e63;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.notice{
    width: 262px;
    height: 32px;
    border-radius: 2px;
    box-shadow: 0px 7px 9.4px 0.6px rgba(0, 0, 0, 0.24), 0px 3px 12.7px 0.3px rgba(0, 0, 0, 0.16);
    float: right;
    margin-right:35px;
    margin-top: -8px;
    background-color: white; 
}

.notice p{
    font-family: sans-serif;
    font-size: 11px;
    color: #4a4a4a;
    padding: 10px 20px 0 20px;
}

.perhatikan{
    font-weight: bold;
    color: #e91e63;
}
/* checkbox */


.bungkus-checkbox{
    margin-top: 50px;
    margin-bottom: 15px;
}

.label--checkbox {
    position: absolute;
    margin-left: 3px;
    font-family: sans-serif;
    font-size : 11px;
    line-height: 158%;
    margin-top: -5px;
    font-weight: normal;
    width: 553px;
    margin-right: 10px;
}
  
.checkbox {
    position: relative;
    top: -0.375rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
    display: inline-block;
}
 
.checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 2;
    width: 13px;
    height: 13px;
    border: 2px solid #dddddd;
}
 
.checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 0.7rem;
    border-color: purple;
    border-top-style: none;
    border-right-style: none;
}
 
.checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.3rem;
    height: 1.4rem;
    background: #fff;
    cursor: pointer;
}