<div class="container">
  <div class="tahapan-proses">
    <div class="tahapan-proses1">
      <div class="no-proses1">
        <p>1</p>
      </div>
      <p class="proses1 pull-right">Pesan</p>
    </div>
    <div class="tahapan-proses2">
      <div class="no-proses2">
        <p>2</p>
      </div>
      <p class="proses2">
        Bayar
      </p>
    </div>
  </div>
  <div class="batas-pemesanan">
    <p class="text-center batas">Batas Pembayaran</p>
    <p class="text-center perintah">Silahkan segera selesaikan pembayaran sebelum batas waktu habis</p>
  </div>
  <div>
    <p class="text-center waktu">02 : 03 : 58</p>
  </div>
  <div class="panel-transfer">
    <div class="panel panel-default transfer">
      <div class="panel-heading">
        <p>Transfer ke : <span class="salin pull-right">Salin Nomor Rekening</span></p>
      </div>
      <div class="panel-body">
        <div class="no">
          <p class="text-center no-resi">9009 0987 7892 13268</p>
          <p class="text-center pesan">an. PT Travinesia</p>
        </div>
      </div>
      <div class="panel-footer detail-pesanan">
        <img src="assets/img/bca.png">    
      </div>
    </div>

    <div class="total">
      <p class="total-bayar">Total Harga<span class="titik-dua">:</span><span class="nominal pull-right">Rp 3.000.<span class="code">000</span></span></p>
    </div>
    <div class="notice">
      <p><span class="perhatikan">Perhatikan !</span> Transfer hingga 3 digit terakhir</p>      
    </div>

    <div class="bungkus-checkbox">
      <input type="checkbox" class="checkbox">
      <label class="label--checkbox">
        Dengan menekan tombol dibawah, saya mengkonfirmasi telah melakukan pembayaran sesuai dengan total harga yang dicantumkan oleh Travinesia
      </label>
    </div>
    <div>
      <button type="button" class="btn btn-bayar">Kembali ke Halaman Pemesanan</button>
    </div>

  </div>
</div>
