<div class="container-jualTrv">
    <div class="row">
        <div class="col-md-4">
            <div class="wrap-sidebar-info">
                <div class="info-head">Travel Saya </div>
                <div class="wrap-info-content">
                    <img class="img-info" src="../assets/img/user.png">
                    <p class="info-tittle"> Kuylah Travel Indonesia <span class="glyphicon glyphicon-lock"></span> </p>
                    <p class="info-tittle-address">Bogor, Jawa Barat</p>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <p class="info-level-travel"> Travel Kelas Satu</p>
                </div>
                <div class="info-footer"> <span class="glyphicon glyphicon-ok-circle"></span> Verified Account </div>
            </div>

            <div class="wrap-menu-info">
                <ul class="list-menu">
                    <li>
                        <a [routerLink]="['Saldo']" [queryParams]="{order:'Saldo'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-file"></i>
                          </span>
                            <span class="sidebar-title">Saldo</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['JualTrip']" [queryParams]="{order:'Jual Trip'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-user"></i>
                          </span>
                            <span class="sidebar-title">Jual Trip</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['DaftarTrip']" [queryParams]="{order:'Daftar Trip'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-heart-empty"></i>
                          </span>
                            <span class="sidebar-title">Daftar Trip</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['TransaksiPenjualan']" [queryParams]="{order:'Transaksi Penjualan'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-bell"></i>
                          </span>
                            <span class="sidebar-title">Transaksi Penjualan</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['EditProfilTravel']" [queryParams]="{order:'Edit Profil Travel'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-cog"></i>
                          </span>
                            <span class="sidebar-title">Edit Profil Travel</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="wrap-premium">
                <button class="btn-trv-premium">Upgrade ke Travel Premium </button>
                <p class="about-premium"><a class="about-premium" href=""> Apa itu Travel Premium ? </a></p>
            </div>
        </div>

        <div class="col-md-8">
            <p class="root-sidebar"> Beranda > Travel Saya > {{ order }}</p>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>