<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="wrap-sidebar-info">
                <div class="wrap-info-content">
                    <img src="../assets/img/Award.png" class="badge-travel">

                    <img class="img-info" src="../assets/img/kuylah.png">

                    <div class="info-tittle"> Kuylah Travel Indonesia </div>
                    <div class="info-tittle-address"> <span class="glyphicon glyphicon-home"></span> Bogor, Jawa Barat</div>
                    <p class="info-level-travel"> Travel Kelas Satu</p>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                </div>
                <div class="info-footer"> <span class="glyphicon glyphicon-ok-circle"></span> Akun Terverifikasi </div>
            </div>

            <div class="wrap-menu-info">
                <ul class="list-menu">
                    <li>
                        <a [routerLink]="['JualTrip']" [queryParams]="{order:'Jual Trip'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-user"></i>
                                                      </span>
                            <span class="sidebar-title">Jual Trip</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['Saldo']" [queryParams]="{order:'Saldo'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-file"></i>
                                                      </span>
                            <span class="sidebar-title">Saldo</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['TransaksiPenjualan']" [queryParams]="{order:'Transaksi Penjualan'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-heart-empty"></i>
                                                      </span>
                            <span class="sidebar-title">Transaksi Penjualan</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['DaftarTrip']" [queryParams]="{order:'Daftar Trip'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-bell"></i>
                                                      </span>
                            <span class="sidebar-title">Daftar Trip</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/EtalaseTravel']">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-cog"></i>
                                                      </span>
                            <span class="sidebar-title">Etalase Travel</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['UbahProfilTravel']" [queryParams]="{order:'Ubah Profil Travel'}">
                            <span class="sidebar-icon"><i class="glyphicon glyphicon-cog"></i>
                                                      </span>
                            <span class="sidebar-title">Ubah Profil Travel</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="wrap-content-padding">
                <p class="root-sidebar"> Beranda > Travel Saya > {{ order }}</p>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>