.wrap-sidebar-info {
    position: relative;
    width: 314px;
    border: solid 1px #dddddd;
    margin-bottom: 7px;
}

.wrap-info-content {
    position: relative;
    padding: 25px;
    padding-bottom: 35px;
    text-align: center;
}

.wrap-content-padding {
    width: 100%;
    padding-left: 135px;
    padding-right: 50px;
}

.badge-travel {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 34px;
    height: 34px;
}

.img-info {
    width: 179px;
    height: 179px;
    object-fit: contain;
}

.info-tittle {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.info-tittle-address {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 2px;
}

.info-level-travel {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #9c27b0;
    margin-right: 8px;
}

.info-footer {
    width: 312px;
    height: 31px;
    line-height: 31px;
    position: absolute;
    bottom: -1px;
    background-color: #eff9e9;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #569156;
}

.wrap-menu-info {
    width: 314px;
    height: 288px;
    border: solid 1px #dddddd;
    padding-top: 8px;
    margin-bottom: 7px;
}

.list-menu {
    list-style: none;
    padding: 0;
}

.list-menu li {
    text-indent: 0;
    line-height: 45px;
}

.wrap-menu-info .list-menu li a {
    display: block;
    text-decoration: none;
}

.list-menu li a {
    color: #4a4a4a;
}

.list-menu li a:focus {
    background-color: #f7f7f7;
    color: #ab47bc;
    width: 100%;
}

.wrap-menu-info .list-menu li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 15px;
    padding-left: 15px;
    display: inline-block;
    text-indent: 15px;
    margin-right: 40px;
    float: left;
}

.root-sidebar {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #9e9e9e;
    margin-bottom: 28px;
}