.glyphicon-star-empty:before {
    content: "\E007";
    color: #dddddd;
}

.root-search {
    margin-top: -23px;
    margin-left: -45px;
    font-size: 13.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
}

.current-search {
    display: inline-block;
    font-size: 25.2px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22px;
    letter-spacing: normal;
    text-align: left;
    color: #9c27b0;
    margin-top: 10px;
    margin-bottom: 21px;
    margin-left: -45px;
}

.rslt {
    left: 336px;
    top: 128px;
    position: absolute;
    font-size: 13.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
}

.sort {
    display: inline-block;
    position: absolute;
    right: 100px;
    font-size: 13.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-left: 477px;
}

.form-sort {
    width: 183px;
    height: 26px;
    border-radius: 2.4px;
    display: inline-block;
    font-size: 11px;
    padding: 0px;
}

.thumb-promo {
    width: 165px;
    border-radius: 10px;
    border: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px #dddddd;
    margin-top: 8px;
}

.img-thumb img {
    width: 100%;
    position: relative;
}

.img-promo {
    width: 100%;
    height: 155px;
}

.body-caption {
    text-align: left;
    padding: 10px;
    background-color: white;
}

.disc {
    position: absolute;
    width: 50px;
    background-color: #ab47bc;
    text-align: center;
    top: 0;
    left: 0;
    color: white;
    border-radius: 5px 0 5px 0;
}

.trip {
    color: white;
    position: absolute;
    margin: 0 auto;
    background-color: orange;
    top: 47%;
    left: 30%;
    width: 70px;
    text-align: center;
    border-radius: 25px;
}

.caption-price {
    color: #ab47bc;
    font-size: 11px;
}

.caption-tittle {
    font-size: 13px;
    text-align: left;
    margin-top: 10px;
    line-height: 1.15;
    color: #4a4a4a;
}

.caption-duration {
    font-size: 11px;
    text-align: left;
    line-height: 1.3;
    margin-top: 10px;
    color: #9e9e9e;
}

.travel-name {
    font-size: 11px;
    text-align: left;
    color: #9e9e9e;
}

.box-wrap-tipe {
    position: relative;
    border-radius: 5px 5px 0 0;
    top: 10px;
    left: -32px;
    margin-bottom: 3px;
    width: 198px;
    height: 95px;
    border: solid 0.8px #dddddd;
}

.box-wrap-lokasi {
    position: relative;
    top: 10px;
    left: -32px;
    margin-bottom: 3px;
    width: 198px;
    height: 175px;
    border: solid 0.8px #dddddd;
}

.box-wrap-kategori {
    position: relative;
    top: 10px;
    left: -32px;
    margin-bottom: 3px;
    width: 198px;
    height: 255px;
    border: solid 0.8px #dddddd;
}

.box-wrap-harga {
    position: relative;
    top: 10px;
    left: -32px;
    margin-bottom: 3px;
    width: 198px;
    height: 97px;
    border: solid 0.8px #dddddd;
}

.box-wrap-rating {
    position: relative;
    top: 10px;
    left: -32px;
    margin-bottom: 3px;
    width: 198px;
    height: 180px;
    border: solid 0.8px #dddddd;
}

.box-wrap-lainnya {
    position: relative;
    border-radius: 0 0 5px 5px;
    top: 10px;
    left: -32px;
    margin-bottom: 3px;
    width: 198px;
    height: 64px;
    border: solid 0.8px #dddddd;
}

.head-box {
    width: 195px;
    margin-left: 1px;
    margin-top: 1px;
    height: 30px;
    background-color: #f5f5f5;
}

.tittle-box {
    font-size: 12.7px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 9px;
    padding: 10px 0 0 14px;
    text-align: left;
    color: #4a4a4a;
}

.listbox {
    padding: 20px 0 0 25px;
}

.label-checkbox-search {
    position: relative;
    top: -6px;
    font-size: 12.7px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4c4c4c;
}

.range-min {
    font-size: 12.7px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.range-max {
    font-size: 12.7px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-left: 65px;
}


/* radio button  */

.radio {
    display: block;
    line-height: 33px !important;
    height: 20px;
    margin-top: -8px;
    cursor: pointer;
}

.label-radio {
    margin-left: -10px;
}

.radio input {
    width: 1px;
    height: 1px;
    opacity: 0;
}

.radio input:checked+.outer .inner {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
    opacity: 1;
}

.radio input:checked+.outer {
    border: 2px solid #ab47bc;
}

.radio input:focus+.outer .inner {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
    opacity: 1;
    background-color: #ab47bc;
}

.radio .outer {
    width: 13px;
    height: 13px;
    display: block;
    float: left;
    margin: 10px 9px 10px 10px;
    border: 1.5px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
}

.radio .inner {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 9px;
    height: 9px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: block;
    margin: 0px;
    border-radius: 50%;
    background-color: #ab47bc;
    opacity: 0;
}


/* end radio button */


/* range bar slider */

.slidecontainer {
    width: 100%;
    margin-top: 10px;
    /* Width of the outside container */
}


/* The slider itself */

.slider {
    -webkit-appearance: none;
    width: 117px;
    height: 1px;
    margin-bottom: 10px;
    background-color: #ab47bc;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background-color: #ab47bc;
    border: solid 1px #ab47bc;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 13px;
    height: 13px;
    background-color: #ab47bc;
    border: solid 1px #ab47bc;
    border-radius: 50%;
    cursor: pointer;
}


/* end range bar */