agm-map {
    height: 305px;
}

.wrap-tittle {
    position: relative;
}

.head-content {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    display: inline-block;
}

.state-all {
    position: absolute;
    bottom: 20px;
    right: 0px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    background-color: #f5f5f5;
    border-radius: 13.5px;
    width: 95px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.state-back a {
    position: absolute;
    bottom: 22px;
    right: 90px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ab47bc;
    cursor: pointer;
}

.state-back span {
    margin-left: 12px;
    margin-right: 14px;
    color: #dddddd;
}

.state-back a:hover {
    text-decoration: none;
}

.info-trip-term {
    width: 100%;
    letter-spacing: normal;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4a4a4a;
    margin-bottom: 15px;
}

.bold-term {
    font-weight: bold;
}

.wrap-deskripsi {
    margin-top: 30px;
    margin-bottom: 25px;
}

.label-form {
    display: block;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.deskripsi-trip {
    width: 663px;
    height: 147px;
    border-radius: 3px;
    background-color: #fdfdfd;
    border: solid 1px #dddddd;
    resize: none;
}

.catatan-trip {
    width: 663px;
    height: 191px;
    border-radius: 3px;
    background-color: #fdfdfd;
    border: solid 1px #dddddd;
    resize: none;
}

.wrap-catatan {
    margin-bottom: 25px;
}

.wrap-mepo {
    margin-bottom: 25px;
}

.btn-mepo {
    width: 77px;
    height: 49px;
}

.mepo-trip {
    border-radius: 0px !important;
    height: 49px;
}

.glyphicon-search:before {
    color: #ab47bc
}

.note-mepo {
    font-size: 12.7px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    float: left;
    margin-left: 13px;
    margin-right: 20px;
    color: #4a4a4a;
}

.catatan-mepo {
    width: 662px;
    height: 25px;
    border-bottom: solid 1px #dddddd;
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    font-size: 12.7px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #9e9e9e;
    padding: 2px;
    margin-bottom: 15px;
}

.wrap-petunjuk {
    margin-bottom: 25px;
}

.petunjuk-trip {
    width: 662px;
    height: 68px;
    border-radius: 3px;
    background-color: #fdfdfd;
    border: solid 1px #dddddd;
    resize: none;
}

.wrap-waktu {
    margin-top: 15px;
    margin-bottom: 25px;
}

.tittle-waktu {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    padding: 8px 0;
}

.note-waktu {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #9e9e9e;
    padding: 2px 0;
    margin-bottom: 25px;
}

.tittle-tanggal a {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ab47bc;
    line-height: 32px;
    cursor: pointer;
}

.tittle-tanggal a:hover {
    text-decoration: none;
}

.waktu-bertemu-input {
    text-align: center;
    width: 216px;
    height: 36px;
    border-radius: 3px;
}

.tanggal-trip {
    width: 216px;
}

.waktu-bertemu::-webkit-input-placeholder {
    text-align: center;
}

.waktu-bertemu::-moz-placeholder {
    text-align: center;
}

.waktu-bertemu:-ms-input-placeholder {
    text-align: center;
}

.waktu-bertemu:-moz-placeholder {
    text-align: center;
}

.input-group-addon {
    background-color: #fdfdfd;
}

.rupiah {
    font-weight: bold;
}

.wrap-harga {
    position: relative;
    width: 663px;
    height: 127px;
    border-radius: 3px;
    border: solid 1px #ab47bc;
    padding: 25px;
    margin-bottom: 25px;
}

.perorang {
    position: absolute;
    right: -60px;
    top: 34px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.publish-trip {
    width: 225px;
    border-radius: 3px;
}

.wrap-publish {
    display: inline-block;
    position: relative;
}

.wrap-kuota {
    float: right;
}

.wrap-checkbox {
    position: relative;
}

.label-checkbox {
    position: absolute;
    width: 660px;
    top: -4px;
    left: 25px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: normal;
    color: #4a4a4a;
}

.wrap-btn {
    margin: 45px auto;
}

.btn-content {
    width: 100%;
    height: 49px;
    border-radius: 3px;
    background-color: #ab47bc;
    border: 1px solid #dddddd;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 49px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}