<div class="container-fluid-bar">
    <ul class="head-category">
        <li>
            <a href="#"> <span class="icon-island-with-palm-trees"></span> Beach</a>
        </li>
        <li>
            <a href="#"> <span class="icon-hotel-with-three-floors"></span> City Tour</a>
        </li>
        <li>
            <a href="#"> <span class="icon-theatre-masks"></span> Culture</a>
        </li>
        <li>
            <a href="#"> <span class="icon-fishing-sign"></span> Fishing</a>
        </li>
        <li>
            <a href="#"> <span class="icon-mountains-with-trees"></span> Hiking</a>
        </li>
        <li>
            <a href="#"> <span class="icon-love-hot-air-balloon"></span> Honeymoon</a>
        </li>
        <li><a href="#"><span class="icon-human-foot-prints"></span> Tracking</a> </li>
        <li>
            <a href="#"> <span class="icon-sea-ship-with-containers"></span> Sailing</a>
        </li>
        <li class="kanan">
            <a href=""> <span class="icon-question">
            <span class="path1"></span><span class="path2"></span>
                </span>
                Bantuan
            </a>
        </li>
    </ul>
    <hr class="line-category">
</div>

<div class="wrapper-ubah-sandi text-center">
    <h2 class="head-ubah-kata-sandi">Ubah Kata Sandi ?</h2>
    <p class="content-ubah-kata-sandi">Silahkan masukan kata sandi baru Anda</p>
    <p class="label-kata-sandi">Kata Sandi Baru</p>
    <input type="text" class="input-ubah-kata-sandi">
    <p class="label-kata-sandi">Ulangi Kata Sandi Baru</p>
    <input type="text" class="input-ubah-kata-sandi">
    <a class="btn btn-ubah-kata-sandi">Ubah Kata Sandi</a>
</div>