<header class="head">
    <div class="wrap-head">
        <a [routerLink]="['']">
            <img src="../assets/img/travinesia-logo.png" class="head-password">
        </a>
    </div>
</header>

<div class="wrapper-ubah-sandi text-center">
    <h2 class="head-ubah-kata-sandi">Ubah Password</h2>
    <p class="content-ubah-kata-sandi">Silahkan masukkan password baru Anda, kemudian ulangi pada kolom berikutnya</p>
    <input type="text" class="input-ubah-kata-sandi" placeholder="Masukkan Password Baru Anda">
    <input type="text" class="input-ubah-kata-sandi" placeholder="Ulangi Password Baru Anda">
    <a class="btn btn-ubah-kata-sandi">Ubah Password</a>
</div>

<p class="text-center">Masuk Travinesia, <a class="disini">disini</a></p>