<div class="container-side">
    <div class="root-search"> Home > Pencarian </div>
    <div class="current-search"> Hasil Pencarian </div>
    <span class="rslt"> Menampilkan xxx Paket Wisata untuk "{{query}}" </span>
    <span class="sort"> Urutkan :  
          <select class="form-control form-sort">
                  <option >Paling Sesuai</option>
                  <option >Terbaru</option>
                  <option >Termurah</option>
                  <option >Termahal</option>
                  <option >Terlaris</option>
               </select>
      
  </span>
</div>

<div class="container-side">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="box-wrap-tipe">
                    <div class="head-box">
                        <div class="tittle-box">Tipe</div>
                        <div class="listbox">
                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Open Trip
                      </label><br>

                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Private Trip
                      </label>
                        </div>
                    </div>
                </div>

                <div class="box-wrap-lokasi">
                    <div class="head-box">
                        <div class="tittle-box">Lokasi</div>
                        <div class="listbox">
                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Jawa
                      </label><br>

                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Sumatera
                      </label><br>

                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Kalimantan
                      </label><br>

                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Sulawesi
                      </label><br>

                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Maluku
                      </label>
                        </div>
                    </div>
                </div>

                <div class="box-wrap-kategori">
                    <div class="head-box">
                        <div class="tittle-box">Kategori</div>
                        <div class="listbox">
                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Beach
                      </label><br>

                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> City Tour
                      </label><br>

                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Culture
                      </label><br>

                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Fishing
                      </label><br>

                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Hiking
                      </label><br>

                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Honeymoon
                      </label><br>

                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Sailing
                      </label><br>

                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Tracking
                      </label>
                        </div>
                    </div>
                </div>

                <div class="box-wrap-harga">
                    <div class="head-box">
                        <div class="tittle-box">Harga</div>
                        <div class="listbox">

                            <div class="slidecontainer">
                                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                                <span class="range-min">0</span> <span class="range-max">10.000.000</span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="box-wrap-rating">
                    <div class="head-box">
                        <div class="tittle-box">Rating</div>
                        <div class="listbox">
                            <div class="radio">
                                <label class="label-radio"><input type="radio" name="radios"><span class="outer"><span class="inner"></span></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                </label>
                            </div>
                            <div class="radio">
                                <label class="label-radio"><input type="radio" name="radios"><span class="outer"><span class="inner"></span></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </label>
                            </div>
                            <div class="radio">
                                <label class="label-radio"><input type="radio" name="radios"><span class="outer"><span class="inner"></span></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </label>
                            </div>
                            <div class="radio">
                                <label class="label-radio"><input type="radio" name="radios"><span class="outer"><span class="inner"></span></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </label>
                            </div>
                            <div class="radio">
                                <label class="label-radio"><input type="radio" name="radios"><span class="outer"><span class="inner"></span></span>
                                    <span class="icon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>    
                                </label>
                            </div>
                            <div class="radio">
                                <label class="label-radio"><input type="radio" name="radios"><span class="outer"><span class="inner"></span></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>    
                                </label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="box-wrap-lainnya">
                    <div class="head-box">
                        <div class="tittle-box">Lainnya</div>
                        <div class="listbox">
                            <input type="checkbox" class="checkbox">
                            <label class="label-checkbox-search"> Diskon
                      </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="thumb-promo">
                <img src="../assets/img/1.jpg" class="img-promo">
                <div class="disc">-10%</div>
                <div class="trip">Open</div>
                <div class="body-caption">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 ">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="caption-price">Rp 300.000</div>
                        </div>
                    </div>
                    <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                    <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="thumb-promo">
                <img src="../assets/img/1.jpg" class="img-promo">
                <div class="disc">-10%</div>
                <div class="trip">Open</div>
                <div class="body-caption">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 ">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="caption-price">Rp 300.000</div>
                        </div>
                    </div>
                    <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                    <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="thumb-promo">
                <img src="../assets/img/1.jpg" class="img-promo">
                <div class="disc">-10%</div>
                <div class="trip">Open</div>
                <div class="body-caption">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 ">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="caption-price">Rp 300.000</div>
                        </div>
                    </div>
                    <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                    <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="thumb-promo">
                <img src="../assets/img/1.jpg" class="img-promo">
                <div class="disc">-10%</div>
                <div class="trip">Open</div>
                <div class="body-caption">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 ">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="caption-price">Rp 300.000</div>
                        </div>
                    </div>
                    <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                    <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="thumb-promo">
                <img src="../assets/img/1.jpg" class="img-promo">
                <div class="disc">-10%</div>
                <div class="trip">Open</div>
                <div class="body-caption">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 ">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="caption-price">Rp 300.000</div>
                        </div>
                    </div>
                    <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                    <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </div>
            </div>
        </div>


        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="thumb-promo">
                <img src="../assets/img/1.jpg" class="img-promo">
                <div class="disc">-10%</div>
                <div class="trip">Open</div>
                <div class="body-caption">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 ">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="caption-price">Rp 300.000</div>
                        </div>
                    </div>
                    <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                    <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="thumb-promo">
                <img src="../assets/img/1.jpg" class="img-promo">
                <div class="disc">-10%</div>
                <div class="trip">Open</div>
                <div class="body-caption">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 ">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="caption-price">Rp 300.000</div>
                        </div>
                    </div>
                    <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                    <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="thumb-promo">
                <img src="../assets/img/1.jpg" class="img-promo">
                <div class="disc">-10%</div>
                <div class="trip">Open</div>
                <div class="body-caption">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 ">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="caption-price">Rp 300.000</div>
                        </div>
                    </div>
                    <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                    <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="thumb-promo">
                <img src="../assets/img/1.jpg" class="img-promo">
                <div class="disc">-10%</div>
                <div class="trip">Open</div>
                <div class="body-caption">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 ">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="caption-price">Rp 300.000</div>
                        </div>
                    </div>
                    <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                    <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="thumb-promo">
                <img src="../assets/img/1.jpg" class="img-promo">
                <div class="disc">-10%</div>
                <div class="trip">Open</div>
                <div class="body-caption">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 ">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="caption-price">Rp 300.000</div>
                        </div>
                    </div>
                    <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                    <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </div>
            </div>
        </div>
    </div>
</div>