<div class="wrap-tittle">
    <p class="head-tittle">Daftar Trip</p>
</div>

<p class="info-paket">Berikut adalah daftar trip yang Anda jual. Anda dapat mengubah informasi paket trip Anda.</p>

<div class="wrap-paket-trip">
    <div class="wrap-content-paket-trip">
        <img class="img-paket-trip" src="../assets/img/trip.jpg">

        <div class="wrap-info-paket-trip">
            <p class="tittle-paket-trip">Kepulaun Raja Ampat </p>

            <div class="tittle-info">Durasi
                <span class="colon-info">:</span>
                <div class="tittle-info-value">3 Hari 2 Malam</div>
            </div>

            <div class="tittle-info">Kategori
                <span class="colon-info">:</span>
                <div class="tittle-info-value">Beach</div>
            </div>

            <div class="tittle-info">Jenis Trip
                <span class="colon-info">:</span>
                <div class="tittle-info-value">Open Trip</div>
            </div>
        </div>

        <div class="wrap-info-harga">
            <div class="tittle-info-harga">Harga per orang :</div>
            <div class="info-harga">Rp 900.000,-</div>
            <div class="info-kuota">Kuota : 50</div>
            <a href="#" class="info-detail-trip">Lihat Detail Trip</a>
        </div>

    </div>

    <div class="wrap-btn-trv">
        <button class="btn-trv-ubah">Ubah Trip </button>
        <button class="btn-trv-kosong">Kosongkan Trip </button>
        <button class="btn-trv-hapus">Hapus Trip </button>
    </div>
</div>


<div class="wrap-paket-trip">
    <div class="wrap-content-paket-trip">
        <img class="img-paket-trip" src="../assets/img/6.jpg">

        <div class="wrap-info-paket-trip">
            <p class="tittle-paket-trip">Kepulaun Raja Ampat </p>

            <div class="tittle-info">Durasi
                <span class="colon-info">:</span>
                <div class="tittle-info-value">3 Hari 2 Malam</div>
            </div>

            <div class="tittle-info">Kategori
                <span class="colon-info">:</span>
                <div class="tittle-info-value">Beach</div>
            </div>

            <div class="tittle-info">Jenis Trip
                <span class="colon-info">:</span>
                <div class="tittle-info-value">Open Trip</div>
            </div>
        </div>

        <div class="wrap-info-harga">
            <div class="tittle-info-harga">Harga per orang :</div>
            <div class="info-harga">Rp 900.000,-</div>
            <div class="info-kuota">Kuota : 50</div>
            <a href="#" class="info-detail-trip">Lihat Detail Trip</a>
        </div>

    </div>

    <div class="wrap-btn-trv">
        <button class="btn-trv-ubah">Ubah Trip </button>
        <button class="btn-trv-kosong">Kosongkan Trip </button>
        <button class="btn-trv-hapus">Hapus Trip </button>
    </div>
</div>


<div class="wrap-paket-trip">
    <div class="wrap-content-paket-trip">
        <img class="img-paket-trip" src="../assets/img/1.jpg">

        <div class="wrap-info-paket-trip">
            <p class="tittle-paket-trip">Kepulaun Raja Ampat </p>

            <div class="tittle-info">Durasi
                <span class="colon-info">:</span>
                <div class="tittle-info-value">3 Hari 2 Malam</div>
            </div>

            <div class="tittle-info">Kategori
                <span class="colon-info">:</span>
                <div class="tittle-info-value">Beach</div>
            </div>

            <div class="tittle-info">Jenis Trip
                <span class="colon-info">:</span>
                <div class="tittle-info-value">Open Trip</div>
            </div>
        </div>

        <div class="wrap-info-harga">
            <div class="tittle-info-harga">Harga per orang :</div>
            <div class="info-harga">Rp 900.000,-</div>
            <div class="info-kuota">Kuota : 50</div>
            <a href="#" class="info-detail-trip">Lihat Detail Trip</a>
        </div>

    </div>

    <div class="wrap-btn-trv">
        <button class="btn-trv-ubah">Ubah Trip </button>
        <button class="btn-trv-kosong">Kosongkan Trip </button>
        <button class="btn-trv-hapus">Hapus Trip </button>
    </div>
</div>