<div class="wrap-tittle">
    <p class="head-tittle">Ubah Profil Travel </p>
</div>

<span class="glyphicon glyphicon-exclamation-sign"></span>
<p class="info-paket">Logo dan Nama tidak dapat dirubah demi menjaga kredibelitas traveller terhadap Travel Anda. Baca selengkapnya di <a href="" class="highlight"> Syarat dan ketentuan </a> Travinesia</p>

<div class="wrap-slogan">
    <label class="label-form" for="Slogan">Slogan </label>
    <div class="input-group">
        <textarea class="slogan-trip form-control" id="Slogan"> Mencari dan memberi yang terbaik </textarea>
    </div>
</div>

<div class="wrap-deskripsi">
    <label class="label-form" for="Deskripsi">Deskripsi </label>
    <div class="input-group">
        <textarea class="deskripsi-trip form-control" id="Deskripsi"> Menjual paket trip ke wakanda juga loh!</textarea>
    </div>
</div>

<div class="wrap-alamat">
    <label class="label-form" for="Alamat">Alamat Kantor </label>
    <div class="input-group">
        <textarea class="alamat-trip form-control" id="Alamat"> Tepat di depan PolongoShop</textarea>
    </div>
</div>

<div class="wrap-info-trip">
    <div class="row">
        <div class="col-md-5">
            <label class="label-form" for="provinsi"> Provinsi </label>
            <select class="form-control form-sort">
                                              <option >Pilih Provinsi</option>
                                              <option >Nanggroe Aceh Darussalam </option>
                                              <option >Sumatra Utara</option>
                                              <option >Sumatra Selatan </option>
                                              <option >Sumatra Barat</option>
                                              <option >Bengkulu</option>
                                              <option >Riau</option>
                                              <option >Kepulauan Riau</option>
                                              <option >Jambi</option>
                                              <option >Lampung</option>
                                              <option >Bangka Belitung</option>
                                              <option >Kalimantan Barat</option>
                                              <option >Kalimantan Timur</option>
                                              <option >Kalimantan Selatan</option>
                                              <option >Kalimantan Tengah</option>
                                              <option >Kalimantan Utara</option>
                                              <option >Banten </option>
                                              <option >DKI Jakarta  </option>
                                              <option >Jawa Barat </option>
                                              <option >Jawa Tengah </option>
                                              <option >DI Yogyakarta </option>
                                              <option >Jawa Timur </option>
                                              <option >Bali </option>
                                              <option >Nusa Tenggara Timur </option>
                                              <option >Nusa Tenggara Barat </option>
                                              <option >Gorontalo </option>
                                              <option >Sulawesi Barat </option>
                                              <option >Sulawesi Tengah </option>
                                              <option >Sulawesi Utara </option>
                                              <option >Sulawesi Tenggara </option>
                                              <option >Sulawesi Selatan </option>
                                              <option >Maluku Utara </option>
                                              <option >Maluku </option>
                                              <option >Papua Barat </option>
                                              <option >Papua  </option>
                                          </select>
        </div>

        <div class="col-md-7">
            <label class="label-phone" for="NoTelepon"> No Telepon </label>
            <div class="input-group">
                <input type="text" class="phone-trip form-control" value="085759759395">
            </div>
        </div>
    </div>

    <div class="wrap-btn-trv">
        <a href="" class="batal">Batal </a>
        <button class="btn-trv-ubah"> Ubah dan Simpan </button>
    </div>
</div>