<div class="container">
  <div class="tahapan-proses">
    <div class="tahapan-proses1">
      <div class="no-proses1">
        <p>1</p>
      </div>
      <p class="proses1 pull-right">Pesan</p>
    </div>
    <div class="tahapan-proses2">
      <div class="no-proses2">
        <p>2</p>
      </div>
      <p class="proses2">
        Bayar
      </p>
    </div>
  </div>
  <div class="isi-tahapan">
    <div class="col-md-4">
      <div class="isi-tahapan-pesanan">
        <div class="isi-tahapan-title">
          <p>Trip Pesanan Anda</p>
        </div>
        <div class="gambar">
          <img src="assets/img/edit.jpg" align="center">
        </div>
        <div class="detail-pesanan">
          <div class="isi-pesanan-star">
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
          </div>
          <div class="isi-pesanan-nama-pulau">
            <p>Pulau Harapan Kepulauan Seribu Jakarta Utara</p>
          </div>
          <div class="isi-pesanan-waktu">
            <span class="glyphicon glyphicon-time"></span> <span class="waktu">2 Hari 1 Malam</span>
          </div>
          <div class="isi-pesanan-travel">
            <span class="glyphicon glyphicon-user"></span> <span class="travel">Kuylah Travel</span>
          </div>
        </div>
      </div>
      <div class="isi-detail">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>Detail Trip Lainnya</p>
          </div>
          <div class="panel-body">
            <div class="detail-pelaksanaan">
              <span>Pelaksanaan :</span>
              <p>14-16 November 2018</p>
            </div>
            <div class="detail-jumlah">
              <span>Jumlah Peserta (yang anda pesan) :</span>
              <p>10 Orang</p>
            </div>
            <div class="detail-keterangan">
              <p>Data peserta dilengkapi setelah melakukan pembayaran</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="isi-data-pemesan">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>Data Pemesan</p>
          </div>
          <div class="panel-body">
            <form class="form-data-pemesan">
              <div class="form-group">
                <label class="label-form-pemesanan">Nama Lengkap</label>
                <input type="text" class="form-control"> 
              </div>
              <div class="form-email">
                <div class="form-group">
                  <label class="label-form-pemesanan">Email</label>
                  <input type="email" class="form-control">
                </div>
              </div>
              <div class="form-telepon pull-right">
                <div class="form-group">
                  <label class="label-form-pemesanan">No Telepon</label>
                  <input type="number" class="form-control">
                </div>
              </div>
            </form>
            <div class="ubah-data">
              <p>Ubah Data Pemesan?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="catatan-provider">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>Cacatan untuk Provider</p>
          </div>
          <div class="panel-body">
            <form class="form-data-pemesan">
              <div class="form-group">
                <textarea class="form-control"> </textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="asuransi-perjalanan">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="cbx">
              <input type="checkbox" class="checkbox">
              <label class="label--checkbox">
                Asuransi perjalanan
              </label>
            </div>
          </div>
          <div class="panel-body">
           <div class="keterangan">
            <p>Perlindungan atas kehilangan barang dan batal perjalanan hingga Rp350.000 dan kecelakaan hingga Rp60 000 000</p>
            <span class="pelajari">Pelajari Selengkapnya</span>
            <span class="dana pull-right">+ Rp 30 000/Orang</span>
           </div>
          </div>
        </div>
      </div>
      <div class="kode-promo">
        <div class="panel panel-default">
          <div class="panel-body">
             <form class="form-kode-promo">
              <div class="form-group">
                <label>Punya Kode Promo?</label>
                <input type="text" class="form-control">
                <button class="btn btn-kode" type="submit">Gunakan Kode</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="rincian-harga">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>Rincian Harga</p>
          </div>
          <div class="panel-body">
            <div class="detail">
              <div class="harga">
                <span>Harga Paket</span><span class="jumlah">x 10</span><span class="titik-dua">:</span><span class="nominal pull-right">Rp 3 000 000</span>
              </div>
              <div class="diskon">
                <span>Diskon atau Promo</span><span class="titik-dua">:</span><span class="nominal pull-right">Rp 3 000 000</span>
              </div>
              <div class="kode">
                <span>Kode Unik</span><span class="titik-dua">:</span><span class="nominal pull-right">Rp 300000</span>
              </div>
              <div class="asuransi">
                <span>Asuransi</span><span class="jumlah">x 10</span><span class="titik-dua">:</span><span class="nominal pull-right">Rp 4002004990</span>
              </div>
            </div>
            <hr>
            <div class="total">
              <p class="total-bayar">Total Harga<span class="titik-dua">:</span><span class="nominal pull-right">Rp 3 000 000</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="pembayaran">
        <p>Lanjut ke Pembayaran</p>
      </div>
    </div>
  </div>
</div>
