/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/NotoSans.eot');
    src: url('fonts/NotoSans.eot?#iefix') format('embedded-opentype'), url('fonts/NotoSans.woff2') format('woff2'), url('fonts/NotoSans.woff') format('woff'), url('fonts/NotoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?eu6jjf');
    src: url('fonts/icomoon.eot?eu6jjf#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?eu6jjf') format('truetype'), url('fonts/icomoon.woff?eu6jjf') format('woff'), url('fonts/icomoon.svg?eu6jjf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fishing-sign:before {
    content: "\e900";
    color: #f44336;
}

.icon-hotel-with-three-floors:before {
    content: "\e901";
    color: #3f51b5;
}

.icon-human-foot-prints:before {
    content: "\e902";
    color: #4caf50;
}

.icon-island-with-palm-trees:before {
    content: "\e903";
    color: #03a9f4;
}

.icon-love-hot-air-balloon:before {
    content: "\e904";
    color: #e91e63;
}

.icon-mountains-with-trees:before {
    content: "\e905";
    color: #795548;
}

.icon-sea-ship-with-containers:before {
    content: "\e906";
    color: #cddc39;
}

.icon-theatre-masks:before {
    content: "\e907";
    color: #ff9800;
}

.icon-calendar:before {
    content: "\e908";
    color: #a3a3a3;
}

.icon-question .path1:before {
    content: "\e909";
    color: rgb(37, 183, 211);
}

.icon-question .path2:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-star:before {
    content: "\e90b";
    color: #fac917;
}

.icon-facebook:before {
    content: "\e900";
    color: #475993;
}

.icon-search .path1:before {
    content: "\e901";
    color: rgb(251, 187, 0);
}

.icon-search .path2:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(81, 142, 248);
}

.icon-search .path3:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(40, 180, 70);
}

.icon-search .path4:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(241, 67, 54);
}

body,
h1,
h2,
h3,
h4,
h5,
h5,
p,
a {
    font-family: 'Noto Sans';
    font-weight: normal;
    font-style: normal;
}

.form-control {
    border-radius: 3px;
}

.form-control::-webkit-input-placeholder {
    color: #9e9e9e;
}

.form-group {
    margin-bottom: 9px;
}

.form-control:focus {
    border-color: #dddddd;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #e91e63;
}

.container-side {
    padding-right: 100px;
    padding-left: 145px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    padding-right: 21px;
    padding-left: 21px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid-page {
    padding-right: 21px;
    padding-left: 21px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -25px;
}

.container-fluid-bar {
    padding-right: 25px;
    margin-right: auto;
    margin-left: -22px;
    margin-top: 65px;
    padding-left: 0px;
}

.container-fluid-bar-fixed {
    background-color: white;
    position: fixed;
    width: 101.5%;
    padding-top: 3px;
    height: 40px;
    line-height: 35px;
    top: 92px;
    margin-left: -22px;
    margin-top: -41px;
    z-index: 999;
}

.container-sidebar {
    padding-right: 105px;
    padding-left: 90px;
    margin-right: auto;
    margin-left: auto;
}

.container-etalase {
    padding-right: 100px;
    padding-left: 110px;
    margin-right: auto;
    margin-left: auto;
}

.container-jualTrv {
    padding-right: 170px;
    padding-left: 170px;
    margin-right: auto;
    margin-left: auto;
}

.margin-content {
    margin-top: 136px;
}


/*search */

.stylish-input-group {
    width: 514px;
}

.navbar-form .input-group .input-group-addon {
    width: 30px;
}

.stylish-input-group .input-group-addon {
    background: #e91e63 !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}


/*end search*/


/*checkbox material design */

.checkbox {
    position: relative;
    top: -0.375rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
    display: inline-block;
}

.checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 12px;
    height: 12px;
    border: 1.5px solid #ddd;
}

.checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #ab47bc;
    border-top-style: none;
    border-right-style: none;
}

.checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.3rem;
    height: 1.4rem;
    background: #fff;
    cursor: pointer;
}


/*end checkbox*/

.checkbox {
    display: inline-block;
    position: relative;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 24px;
}

.checkbox__input {
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    opacity: 0;
    z-index: 0;
}

.checkbox__label {
    display: block;
    padding: 0 0 0 24px;
    cursor: pointer;
}

.checkbox__label:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, .54);
    border-radius: 2px;
    z-index: 1;
    transition: all .28s cubic-bezier(.4, 0, .2, 1);
}

.checkbox__label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 6px;
    height: 12px;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(45deg);
    z-index: 2;
    transition: rgba(0, 0, 0, .54) .28s cubic-bezier(.4, 0, .2, 1);
}

.checkbox__input:checked+.checkbox__label:before {
    background-color: #3f51b5;
    border-color: #3f51b5;
}

.checkbox__label:after {
    border-color: #fff;
}


/* radio button */

.radio {
    display: inline-flex;
    line-height: 40px;
    margin-left: -15px;
    cursor: pointer;
}

.radio input {
    width: 1px;
    height: 1px;
    opacity: 0;
}

.radio input:checked+.outer .inner {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
    opacity: 1;
}

.radio input:checked+.outer {
    border: 2px solid #ab47bc;
}

.radio input:focus+.outer .inner {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
    opacity: 1;
    background-color: #ab47bc;
}

.radio .outer {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin: 10px 9px 10px 10px;
    border: 1.5px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
}

.radio .inner {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 16px;
    height: 16px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: block;
    margin: 0px;
    border-radius: 50%;
    background-color: #ab47bc;
    opacity: 0;
}


/* animation radio */

@-webkit-keyframes cardEnter {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@keyframes cardEnter {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/* end radio button */