<div *ngIf='showLogin' (click)="toggleLogin()" class="blur"></div>
<div class="container-etalase">
    <div class="row">
        <div class="col-md-6">
            <div class="wrap-form-daftar">
                <div class="head-daftar">
                    Daftarkan Travel
                </div>
                <div class="wrap-form-content">
                    <label class="label-form" for="namaTravel">Nama Travel</label>
                    <div class="input-group">
                        <input type="text" class="namaTrv form-control" id="namaTravel">
                    </div>

                    <label class="label-form" for="slogan">Slogan</label>
                    <div class="input-group">
                        <textarea type="textarea" class="sloganTrv form-control" id="slogan"> </textarea>
                    </div>

                    <label class="label-form" for="deskripsi">Deskripsi</label>
                    <div class="input-group">
                        <textarea type="textarea" class="deskripsiTrv form-control" id="deskripsi"> </textarea>
                    </div>

                    <div class="wrap-alamat">
                        <label class="label-form" for="alamat">Alamat Kantor</label>
                        <div class="input-group">
                            <textarea type="textarea" class="alamatTrv form-control" id="alamat"> </textarea>
                        </div>

                        <label class="sort" for="lokasi">Provinsi : </label>
                        <select class="form-control form-sort">
                            <option >Pilih Provinsi</option>
                            <option >Nanggroe Aceh Darussalam </option>
                            <option >Sumatra Utara</option>
                            <option >Sumatra Selatan </option>
                            <option >Sumatra Barat</option>
                            <option >Bengkulu</option>
                            <option >Riau</option>
                            <option >Kepulauan Riau</option>
                            <option >Jambi</option>
                            <option >Lampung</option>
                            <option >Bangka Belitung</option>
                            <option >Kalimantan Barat</option>
                            <option >Kalimantan Timur</option>
                            <option >Kalimantan Selatan</option>
                            <option >Kalimantan Tengah</option>
                            <option >Kalimantan Utara</option>
                            <option >Banten </option>
                            <option >DKI Jakarta  </option>
                            <option >Jawa Barat </option>
                            <option >Jawa Tengah </option>
                            <option >DI Yogyakarta </option>
                            <option >Jawa Timur </option>
                            <option >Bali </option>
                            <option >Nusa Tenggara Timur </option>
                            <option >Nusa Tenggara Barat </option>
                            <option >Gorontalo </option>
                            <option >Sulawesi Barat </option>
                            <option >Sulawesi Tengah </option>
                            <option >Sulawesi Utara </option>
                            <option >Sulawesi Tenggara </option>
                            <option >Sulawesi Selatan </option>
                            <option >Maluku Utara </option>
                            <option >Maluku </option>
                            <option >Papua Barat </option>
                            <option >Papua  </option>
                        </select>
                    </div>

                    <label class="label-form" for="nomorTravel">Nomor Telepon Travel</label>
                    <div class="input-group">
                        <input type="tel" max="13" class="nomorTrv form-control" id="nomorTravel">
                    </div>

                    <label class="label-form" for="domainTravel">Domain</label>
                    <p class="domain-name">travinesia.com/</p>
                    <div class="input-group wrap-domain">
                        <input type="text" class="domainTrv form-control" id="domainTravel">
                    </div>

                    <input type="checkbox" class="checkbox">
                    <label class="label-checkbox"> Dengan ini saya menyetujui bergabung dengan Travinesia sebagai agen
                            Travel dan bersedia mengikuti segala bentuk kebijakan yang berlaku</label>

                    <button (click)="toggleLogin()" class="btn-daftar-trv"> Lanjutkan </button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <img src="../assets/img/travinesia-logo.png" class="logo">
            <p class="tittle-head"> Kemudahan Pengembangan Bisnis Skala Besar untuk Travel Anda. </p>
            <p class="title-content"> Kemudahan promosi untuk bisnis travel yang lebih besar. Travinesia membantu anda dalam promosi, ini itu, ini itu dan masih banyak lagi keuntungan menjadi Agen Travel di Travinesia. Promosikan paket wisata anda, ada banyak ategori yang sisediakan
                oleh Travinesia. </p>

            <ul class="head-category">
                <li>
                    <a> <span class="icon-island-with-palm-trees"></span></a>
                </li>
                <li>
                    <a> <span class="icon-hotel-with-three-floors"></span></a>
                </li>
                <li>
                    <a> <span class="icon-theatre-masks"></span></a>
                </li>
                <li>
                    <a> <span class="icon-fishing-sign"></span></a>
                </li>
                <li>
                    <a> <span class="icon-mountains-with-trees"></span></a>
                </li>
                <li>
                    <a> <span class="icon-love-hot-air-balloon"></span></a>
                </li>
                <li>
                    <a><span class="icon-human-foot-prints"></span> </a>
                </li>
                <li>
                    <a><span class="icon-sea-ship-with-containers"></span></a>
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf='showLogin' class="wrap-modal">
        <a class="exit">
            <div *ngIf='showLogin' (click)="toggleLogin()" class="close-modal"> X </div>
        </a>

        <div class="wrap-foto-content">
            <img class="img-modal" src="../assets/img/user.png">
        </div>

        <p class="tittle-foto">Tambahkan Foto</p>
        <p class="detail-tittle"> dapat berupa logo, kantor atau yang berhubungan </p>


        <button class="btn-trv-modal"> Unggah Foto
            <label>
                <input type="file" hidden>
            </label>
        </button>
    </div>
</div>