<div class="row">
    <div class="col-md-2 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="">
                <a href="#">
                    <div class="exit"> X </div>
                </a>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-2 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="#">
                <div class="exit"> X </div>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-2 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="#">
                <div class="exit"> X </div>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-2 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="#">
                <div class="exit"> X </div>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-2 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="#">
                <div class="exit"> X </div>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-2 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="">
                <a href="#">
                    <div class="exit"> X </div>
                </a>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-2 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="#">
                <div class="exit"> X </div>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-2 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="#">
                <div class="exit"> X </div>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-2 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="#">
                <div class="exit"> X </div>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>

    <div class="col-md-2 col-sm-4">
        <div class="thumb-promo">
            <img src="../assets/img/1.jpg" class="img-promo">
            <a href="#">
                <div class="exit"> X </div>
            </a>
            <div class="trip">Open</div>
            <div class="body-caption">
                <div class="row">
                    <div class="col-md-6">
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="caption-price">Rp 300.000</div>
                    </div>
                </div>
                <div class="caption-tittle">Pantai Sangat Indah sekali sekali kesini lah</div>
                <div class="caption-duration"><span class="glyphicon glyphicon-time"></span> 2H1M</div>
                <a [routerLink]="['/EtalaseTravel']">
                    <div class="travel-name"><span class="glyphicon glyphicon-user"></span> Harapan Indah Tour</div>
                </a>
            </div>
            <a href="#" class="pesan">
                <div class="pesan-travel text-center"> Pesan Sekarang</div>
            </a>
        </div>
    </div>
</div>