<div class="container">
  <div class="tahapan-proses">
    <div class="tahapan-proses1">
      <div class="no-proses1">
        <p>1</p>
      </div>
      <p class="proses1 pull-right">Pesan</p>
    </div>
    <div class="tahapan-proses2">
      <div class="no-proses2">
        <p>2</p>
      </div>
      <p class="proses2">
        Bayar
      </p>
    </div>
  </div>
  <div class="trv-notice">
    <span class="txt-notice"> Pesanan telah disimpan. Silahkan <b>Pilih metode pembayaran</b></span>
  </div>
  <div class="col-md-8">
    <div>
      <div class="panel panel-default metode-bayar">
        <div class="panel-heading">
          <p>Pilih Metode Pembayaran</p>
        </div>
        <div class="panel-body body-metode">
          <div class="card">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#transfer" aria-controls="home" role="tab" data-toggle="tab">Transfer</a></li>
              <li role="presentation"><a href="#kartu-kredit" aria-controls="settings" role="tab" data-toggle="tab">Kartu Kredit</a></li>
              <li role="presentation"><a href="#indomart" aria-controls="settings" role="tab" data-toggle="tab">Indomart</a></li>
              <li role="presentation"><a href="#alfamart" aria-controls="settings" role="tab" data-toggle="tab">Alfamart</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="transfer">
                <ul class="ul-transver">
                  <li class="transver"><img src="assets/img/bca.png"></li>
                  <li class="transver"><img src="assets/img/bca.png"></li>
                  <li class="transver"><img src="assets/img/bca.png"></li>
                  <li class="transver"><img src="assets/img/bca.png"></li>
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="kartu-kredit">
                
              </div>
              <div role="tabpanel" class="tab-pane" id="indomart">
                
              </div>
              <div role="tabpanel" class="tab-pane" id="alfamart">
                <div class="gambar">
                  <div class="ceklist">

                  </div>
                  <img src="assets/img/alfa.png">
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>Rincian Harga</p>
        </div>
        <div class="panel-body">
          <div class="detail">
              <p>Harga Paket<span class="jumlah">x 10</span><span class="titik-dua">:</span><span class="nominal pull-right">Rp 3 000 000</span></p>
              <p>Diskon atau Promo<span class="titik-dua">:</span><span class="nominal pull-right">Rp 3 000 000</span></p>
              <p>Kode Unik<span class="titik-dua">:</span><span class="nominal pull-right">Rp 300000</span></p>
              <p>Asuransi<span class="jumlah">x 10</span><span class="titik-dua">:</span><span class="nominal pull-right">Rp 4002004990</span></p>
              <p>Biaya Admin<span class="titik-dua">:</span><span class="nominal pull-right">Rp 4002004990</span></p>
          </div>
          <hr>
          <div class="total">
            <p class="total-bayar">Total Harga<span class="titik-dua">:</span><span class="nominal pull-right">Rp 3 000 000</span></p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-batal">Kembali ke Halaman Pemesanan</button>
      <button type="button" class="btn btn-simpan">Bayar dengan <span>Alfamart</span></button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="batas-waktu">
      <p><span class="glyphicon glyphicon-time"></span>Selesaikan dalam : <span class="waktu">1:12:13</span></p>
    </div>
    <div>
      <div class="panel panel-default no-pesanan">
        <div class="panel-heading">
          <p>Nomor Pesanan</p>
        </div>
        <div class="panel-body">
          <div class="no">
            <p class="no-resi">90090-0987789 <span class="salin pull-right">Salin</span></p>
            <p class="pesan">Nomor Pesanan digunakan untuk mewakili paket trip yang dipesan</p>
          </div>
        </div>
        <div class="panel-footer detail-pesanan">
          <p class="total-bayar"><span class="glyphicon glyphicon-briefcase"></span>Pulau Harapan</p>
          <p class="tanggal"> 14-16 November 2018</p>
          <p class="pemesan">Jumlah Orang : <span>Irfan Harianto</span></p>
          <p class="jumlah-orang">Jumlah yang dipesan : <span>10 Orang</span></p>
        </div>
      </div>
    </div>
  </div>
  
</div>
